#
# /etc/haproxy/haproxy.cfg
#

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
  # to have these messages end up in /var/log/haproxy.log you will
  # need to:
  #
  # 1) configure syslog to accept network log events.  This is done
  #    by adding the '-r' option to the SYSLOGD_OPTIONS in
  #    /etc/sysconfig/syslog
  #
  # 2) configure local2 events to go to the /var/log/haproxy.log
  #   file. A line like the following can be added to
  #   /etc/sysconfig/syslog
  #
  #    local2.*                       /var/log/haproxy.log
  #
  log                      127.0.0.1 local1
  spread-checks            3
  stats  socket            /var/lib/haproxy_stats
  maxconn 4096

#---------------------------------------------------------------------
# common defaults that all the 'frontend' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults REDIS
  mode    tcp
  log     global
  retries 3
  mode    tcp
  option  dontlognull
  option  redispatch
  maxconn 4096
  balance roundrobin
  timeout queue             1m
  timeout connect           4s
  timeout client            30s
  timeout server            30s
  timeout check             6s

listen redis
  bind *:6379
  mode tcp
  option     tcp-check
  tcp-check  connect
  tcp-check  send           AUTH\ "123456"\r\n
  tcp-check  send           PING\r\n
  tcp-check  expect         string PONG
  tcp-check  send           info\ replication\r\n
  tcp-check  expect         string role:master
  tcp-check  send           QUIT\r\n
  tcp-check  expect         string +OK
  server     redis-0        redis-node-0:7000 check inter 1s
  server     redis-1        redis-node-1:7001 check inter 1s
  server     redis-2        redis-node-2:7002 check inter 1s
  server     redis-3        redis-node-3:7003 check inter 1s
  server     redis-4        redis-node-4:7004 check inter 1s
  server     redis-5        redis-node-5:7005 check inter 1s
